body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
  margin: 0px;
  padding-bottom: 20px;
}
code {
  word-wrap: break-word;
}
summary {
  cursor: pointer;
}
.rank, .thumb, .score {
  float: left;
}
.clearleft {
  clear: left;
}
.img-blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  transform: scale(1.03);
}
.post {
  margin: 6px 0px;
  overflow: hidden;
}
.post .p {
  overflow:hidden;
}
.post .thumb {
  margin: 2px 8px 0px 0px;
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
}
.post .thumb, .post .thumb div {
  height: 47px;
  width: 70px;
}
.post .thumb div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.rank {
  color: #c6c6c6;
  font-size: 14px;
  margin: 16px 0 0 0;
  text-align: right;
  min-width: 19px;
}
.post .score {
  color: #c6c6c6;
  font-size: 12px;
  font-weight: 700;
}
.post .score div div,
.post .score form {
  text-align: center;
  margin: 0 4px;
  width: 38px;
}
.post .score div div {
  margin: 17px 2px;
}
.create_comment {
  margin: 0 0 10px 0px;
  overflow: hidden;
}
.expando .thumb, .expando .score, .expando .rank {
  display: none;
  background-color: unset !important;
}
.comment .content, .expando .md, .expando > div {
  line-height: 20px;
  overflow:hidden;
  max-width: 840px;
  text-align: left;
  margin-top: 4px;
}
.expando > div {
  text-align: center;
}
.comment .content details img {
  display: none;
}
.comment .content details[open] img {
  display: unset;
}
.comment.hidden {
  padding-bottom:2px;
  padding-left: 4px;
}
.comment.hidden .score form input {
  display: none;
}
.comment .score {
  min-height: 32px;
  min-width: 11px;
}
.comment.hidden .score {
  min-height: 1px;
}
.comment .score form {
  width: 30px;
  position: relative;
  text-align: center;
}
.score form.link-btn input {
  display: inline-block;
  color: #b7b7b7;
  font-size: 18px;
  line-height: 15px;
}
.comment .score form.link-btn input {
  line-height: 14px;
}
.score form.like.link-btn input:first-child, .score .like div {
  color: #3880ff;
  -webkit-text-stroke: unset;
  -webkit-text-fill-color: unset;
}
.score form.dislike.link-btn input:last-child, .score .dislike div {
  color: #eb445a;
  -webkit-text-stroke: unset;
  -webkit-text-fill-color: unset;
}

.title a {
  font-size: medium;
  text-decoration: none;
}
.title a p {
  display: inline;
}
.post.distinguished .title a, .post.announcement .title a,
.post.announcement .title a:visited {
  color: #228822 !important;
  font-weight: bold;
}
.post.deleted .title a {
  text-decoration: line-through;
}
[disabled] {
  cursor: not-allowed;
}
#loadmore [disabled], .link-btn [disabled]  {
  cursor: wait;
}
.post .title  {
  color: #888;
  font-size: 10px;
}
.post .title.visited a {
  color: #551A8B;
}
.activity .post .title a {
  font-size: medium;
}
.activity .post .title {
  margin: 0;
}
.activity .title a {
  font-size: 13px;
}
.activity .title {
  margin: 5px 0px 0px 10px;
}
.activity .post {
  margin-bottom: 10px;
  min-height: 50px;
}
.activity .comment {
  padding-bottom: 1px;
}
.message {
  margin: 10px 10px 15px 10px;
}
.message div {
  margin-left: 10px;
}
.message b {
  color: #000;
}
.comment {
  overflow: hidden;
  font-size: 14px;
  margin: 5px 0px 8px 0px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 7px 7px 0px 0px;
}
.activity .comment {
  border: 0px;
  margin-top: 1px;
}
.comment img {
  max-height: 300px;
}
.comment .comment,
.comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
 background-color:#f7f7f8;
}
.comment .comment .comment,
.comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment {
 background-color:#fff;
}
.comment .meta {
  font-size: 10px;
  overflow: hidden;
}
.preview h3 {
  background-color: #f0f3fc;
  border: 0px solid #e6e6e6;
  border-bottom-width: 1px;
  color: black;
  margin: 0px;
  padding: 10px;
  font-size: 14px;
}
.preview .comment {
  margin-top: 5px;
  padding: 0px;
}
.preview .comment .content {
  padding: 5px 10px;
}
.meta a, .activity .meta a {
  color: #369;
  text-decoration: none;
  font-size: 10px;
  font-weight: 700;
}
.comment .meta a.distinguished.admin, .post.distinguished a.admin, .post.announcement a.admin {
  background-color: #ff0011;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 0px 2px;
}
.meta a:hover {
  text-decoration: underline;
}
.comment .meta a.submitter {
  background-color: #0055df;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 0px 4px;
}
.comment .meta a.distinguished {
  background-color: #228822;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 0px 2px;
}
.commentmenu {
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
}
.commentmenu div {
  border-top: 1px dotted gray;
  font-size: 12px;
  padding-top: 3px;
}
form.savecomment {
  max-width: 500px;
  padding: 0 4px;
}
.comment > .children > form.savecomment {
  margin: 0px 0px 10px 20px;
}
.comment .children {
  margin: 3px 0px 5px 21px;
}
.savecomment textarea {
  margin: 5px 0px;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}

.savecomment .upload label div {
  display: inline-block;
  border: 1px solid #ccc;
  height: 20px;
  line-height: 20px;
  width: 32px;
  position: relative;
  background-color: #999;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.savecomment .upload input {
  display: none;
}
.savecomment .right {
  float:right;
}
.savecomment .right a {
  line-height: 28px;
  font-size: 10px;
  margin-right: 4px;
}
.comment.hidden .meta span, .comment.hidden .meta b {
  font-style: italic;
}
.comment .meta a.minimize {
  color: #369;
  font-size: 10px;
  margin-right: 2px;
}
.comment.hidden .meta a {
  color: gray;
  font-weight: 400;
}
.numChildren {
  display: none;
  color: gray;
  font-style: italic;
}
.comment.hidden .numChildren {
  display: inline
}
.comment.hidden .meta a.creator {
  font-style: italic;
  font-weight: 700;
}
.comment.hidden .content, .comment.hidden .children, .comment.hidden .morecomments {
  display: none;
}
.morecomments {
  height: 15px;
  clear: left;
  font-size: 10px;
}
.morecomments a {
  color: #336699;
  font-weight: bold;
  text-decoration: none;
}
.morecomments a:hover {
  text-decoration: underline;
}
.member, .block {
  display: inline-block;
  margin-bottom:3px;
}
.member input, .block input {
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  padding: 1px 4px;
  border-radius: 4px;
  border: 1px solid #444444;
  color: white;
  position: relative;
  bottom: 1px;
  cursor: pointer;
}
.join input, .block input {
  background-color: green;
}
.leave input, .block.unblock input {
  background-color: #cf6165;
}
.pending input {
  background-color: #369;
}
.left {
  float: left;
}
span.nsfw {
  color: #d10023;
  font-size: 10px;
  line-height: 14px;
  border-radius:3px;
  border: 1px solid #d10023;
  padding: 0 4px;
  display: inline-block;
  font-weight: 400;
}
form.nsfw {
  text-align: center;
  margin: 50px auto;
  width: 650px;
  font-size: 18px;
}
form.nsfw div {
  font-size: 40px;
  background-color: #ff575b;
  display: inline-block;
  padding: 20px 10px;
  border-radius: 50%;
  font-weight: bold;
  color: white;
}
.gray {
  color: #808080;
}
.morecomments .loading {
  color: red !important;
}
.blockpopup .loading {
  padding: 2px;
}
.error {
  color: red;
  font-size: 13px;
  padding: 10px;
  overflow: hidden;
}
.alert {
  color: #8080FF;
  font-size: 13px;
  padding: 10px;
}
.green {
  background-color: #efffc7;
  width: 8px;
  display: inline-block;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  border: 1px solid #78b04d;
  position: relative;
  top: 1px;
}
.pager {
  margin: 20px 0px;
}
.pager a {
  padding: 1px 4px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
  color: #369;
}
.pager.hidden {
  display: none;
}
#loadmore {
  display: none;
}
#loadmore, #end {
  margin: 10px 0px;
}
#loadmore.show {
  display: block;
}
#end {
  visibility: hidden;
}
.buttons li {
  display: inline;
}
.buttons, .buttons > form input, .buttons li > form input {
  font-weight: bold;
  font-size: 10px;
  padding: 0;
}
.comment .textarea {
  width: 100%;
}
.comment .buttons {
  margin: 4px 0px 4px 0px;
  line-height: 16px;
}
.comment.hidden .buttons {
  display: none;
}
.expando blockquote, .comment blockquote {
  margin: 5px 0 5px 15px;
  border-left: 2px solid #c5c1ad;
  padding: 0 8px;
}
.buttons a, .buttons > form input, .comment .buttons li > form input {
  text-decoration: none;
  color: #888;
  display: inline-block;
  margin-right: 5px !important;
}
.buttons a:hover, .buttons > form input:hover, .comment .buttons li > form input:hover {
  text-decoration: underline;
}
.entry {
  color: #888;
  overflow: hidden;
  padding: 4px 0 0 0;
}
.blockpopup {
  display: inline-block;
  position: absolute;
  z-index: 100;
  background-color: white;
}
.blockpopup fieldset {
  border-color: gray;
}
.entry .meta {
  margin: -1px 0px 1px 0px;
}
.entry .meta > span {
  white-space: nowrap;
}
.entry > div:last-child {
  overflow: hidden;
}
form.blockpost {
  padding: 2px;
  border: 1px solid #888;
}
.blockpost div:last-child input {
  margin: 4px 2px 4px 4px;
}
.expando-button {
  width: 23px;
  height: 23px;
  background-color: #ccccc9;
  border-radius: 4px;
  margin: 0px 6px 0px 0px;
  cursor: pointer;
  float:left;
}
.expando-button::before,.collapse .expando-button::before{
  content: "+";
  float: left;
  position: relative;
  color: #fff;
  font-size: 12px;
  left: 12px;
  top: 7px;
  line-height: normal;
  font-weight: normal;
  font-family: unset;
}
.open.expando-button, .collapse .open.expando-button {
  border-radius: 30px;
}
.collapse .expando-button {
  border-radius: 4px;
}
.open.expando-button::before, .collapse .open.expando-button::before {
  content: "✖";
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  left: 5px;
  top: 1px;
  font-size: 15px;
  line-height: 22px;
}
.expando-button:hover{
  background-color: #466599;
}
.expando-button.hidden, .children.hidden .comment, .children.hidden .morecomments {
  display: none;
}
.hidechildren .show {
  display: none;
}
.hidechildren.hidden .show {
  display: inline;
}
.hidechildren.hidden span:first-child {
  display: none;
}
.hidechildren span {
  pointer-events: none;
}
.hide {
  display: none !important;
}
.expando {
  display: none;
  max-width: 900px;
  position: relative;
  color: #000;
}
#mycommunities, #settingspopup {
  background-color: white;
  border: 1px solid #888;
  display: none;
  position: absolute;
  z-index: 100;
}
#mycommunities {
  top: 17px;
  padding: 5px 0px;
  border-width: 0px 1px 1px 0px;
}
#mycommunities div {
  margin: 0px 5px;
}
#mycommunities a:first-child {
  text-align: right;
}
#mycommunities a {
  text-decoration: none;
  color: #369;
  text-transform: uppercase;
  font-size: 9px;
  display: block;
  padding: 0px 3px;
}
#mycommunities a:hover {
  background-color: #c7def7;
}
#settingspopup {
  right: 10px;
  top: 45px;
}
#settingspopup form {
  margin: 0px;
}
#settingspopup.open, #mycommunities.open {
  display: inline-block;
}
.expando.open, .collapse .expando.text{
  display: block;
  clear: left;
}
.collapse .expando .image {
  display: none;
}
.collapse .expando.open .image {
  display: block;
}
.expando .image {
  max-width: 100%;
  cursor: nwse-resize;
  margin-top:4px;
}
.expando .md {
  margin-top:4px;
  background-color: #fafafa;
  border: 1px solid #369;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 14px;
  overflow: auto;
}
.expando .md img {
  max-width: 100%;
}
.expando.open.showimage .md {
  display: none;
}
.expando p, .comment p, .message p {
  margin-top: 0;
  margin-bottom: 2px;
}
.search {
  font-size: 13px;
  color: gray;
  font-weight: 700;
  margin: 10px 5px 20px 30px;
  max-width: 605px;
}
.search .query {
  white-space: nowrap;
  padding-right: 142px;
}
.search .query input[type=text] {
  width: 100%;
  margin-bottom: 5px;
}
.search .query input {
  font-size: 15px;
  padding: 5px;
}
.search div:last-child input {
  margin: 2px 0px;
}
.search label {
  white-space: nowrap;
}

#sidetoggle {
  position: absolute;
  right: 0;
}
#sidetoggle button {
  background: unset;
  border: unset;
  cursor: pointer;
}
#sidetoggle span:last-child {
  display: none;
}
.sidetoggle #sidetoggle span:last-child {
  display: inline
}
.sidetoggle #sidetoggle span:first-child {
  display: none
}
.side {
  display: none;
  margin: 0 auto;
  font-size: 12px;
  padding: 0 5px 0 10px;
  margin: 0px auto;
  border-radius: 0px 0px 0px 4px;
}
.side img, .md img{
  max-width: 100%;
}
main {
  position: relative;
  margin: 0px 5px;
}
.sidetoggle .side {
  display: block !important;
  margin: 0 auto;
}
#search input {
  width: 100%;
  box-sizing: border-box;
}
#search {
  overflow: hidden;
}
@media (min-width: 600px) {
  main > .community {
    margin: 20px 50px;
  }
  .community .details {
    margin-left: 36px;
  }
  .side {
    float:right;
    width: 300px;
  }
  main {
    margin-right: 0px;
    margin-left: 10px;
  }
  main > .comment, .commentmenu, #tagline, .menu, .activity, .expando {
    margin-right: 10px;
  }
  .entry {
    display: block;
  }
}
@media (min-width: 800px) {
  .collapse .open.expando .thumb, .collapse .open.expando .score, .collapse .open.expando .rank {
    display: none;
  }
  .collapse.post .text.expando .thumb, .collapse.post .text.expando .score, .collapse.post .text.expando .rank,
  .post .expando.open .thumb, .post .expando.open .score, .post .expando.open .rank {
    display: block;
  }
  .expando .image {
    max-width: 578px;
  }
  .expando > div {
    text-align: left;
  }
}
@media (min-width: 1064px) {
  .signup > div:first-child {
    position: unset !important;
  }
  .signup > div:first-child {
    border-right: 1px solid #e0e0e0;
    padding-right: 60px;
  }
  .sidetoggle .side {
    display: none !important;
  }
  #sidetoggle span:last-child {
    display: inline
  }
  #sidetoggle span:first-child {
    display: none
  }
  .sidetoggle #sidetoggle span:last-child {
    display: none;
  }
  .sidetoggle #sidetoggle span:first-child {
    display: inline;
  }

  .side {
    display: block;
  }

}
.side form {
  margin: 0px 0px 5px 0px;
}
.side input[type=text] {
  width: 285px;
  padding: 6px;
  margin: 0px;
  font-size: 13px;
  border: 1px solid gray;
}
.side .stats {
  padding: 5px;
  border: 1px solid #5f99cf;
  background-color: #EFF7FF;
  border-radius: 3px;
}
.side .stats b span {
  font-size: 22px;
}
.side .banner {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 5px 0px;
}
.user.side b {
  font-size: 18px;
}
.side .login {
  border: 1px solid gray;
  margin: 10px 0px;
  padding: 0;
  overflow: hidden;
}
.side .login input[type=text],
.side .login input[type=password] {
  font-size: 11px;
  border: 1px solid #999;
  width: 125px;
  margin: 5px 0px 0px 5px;
  padding: 6px;
}
.side .login input[type=submit] {
  margin: 5px;
  float:right;
}
.create a div {
  margin: 5px 0px;
  background-color: #EFF7FF;
  text-align: center;
  padding: 5px;
  border: 1px solid #369;
}
.create a div:hover {
  background-color: #369;
}
.create a {
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
  color: #369;
}
.create a:hover {
  color: white;
}
h1, h2 {
  margin: 5px 0px;
}
.age {
  border-top: 1px solid black;
  text-align: right;
  color: #888;
  padding: 2px 5px 0px 0px;
  margin-bottom: 10px;
}
.age a {
  text-decoration: none;
  color: #369;
}
.moderators {
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 5px;
}
.moderators a {
  text-decoration: none;
  color: #369;
}
main > .community {
  margin: 20px 5px;
  max-width: 840px;
  position: relative;
}
.community .description {
  padding: 2px 5px;
  background-color: #fafafa;
  border: 1px solid #CCC;
  border-radius: 7px;
  font-size: 14px;
  margin-bottom: 3px;
  max-height: 170px;
  overflow: auto;
}
nav {
  position: relative;
  border-bottom: 1px solid #00a846;
  background-color: #9ad59b;
  z-index: 99;
  margin-bottom: 8px;
}
nav .communities {
 background-color: #f0f0f0;
 color: gray;
 padding: 3px;
 white-space: nowrap;
 overflow: hidden;
 border-bottom: 1px solid gray;
 text-transform: uppercase;
 font-size: 9px;
}
nav .communities a {
  margin: 0px 2px;
}
nav .communities a.more {
  background-color: #f0f0f0;
  color: black;
  padding: 0px 5px;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin: 0;
}
.orangered, .orangered b {
  color: orangered !important;
}

nav .communities a {
  text-decoration: none;
  color: black;
}
nav .title:hover {
  text-decoration: underline;
}

nav .title, nav > span {
  font-size: 15px;
  font-weight: 700;
  margin: 0px 3px 0px 2.5px;
  color: black;
  text-decoration: none;
  font-variant: small-caps;
}
nav a.title {
  margin-left: 70px;
}

nav .host {
  padding: 0px 3px 1px 3px;
  font-size: 12px;
}

nav div.spacer {
  height: 34px;
  position: relative;
}
nav span.spacer {
  height: 20px;
  display: inline-block;
}
nav .space a {
  z-index: 100;
}
nav .icon {
  height: 54px;
  width: 60px;
  margin: 2px 3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
nav .icon img {
  max-width:100%;
  height:100%;
}

nav .tabs {
  overflow-x: auto;
}

nav ul {
  list-style: none;
  margin: 5px 2.5px 0px 2.5px;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
}

nav li {
  white-space: nowrap;
  margin: 0px 1px;
  padding: 0px;
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 700;
}

nav li:nth-last-child(2) {
  margin-right: 26px;
}

nav ul a {
  color: #369;
  background-color: #eff7ff;
  text-decoration: none;
  padding: 2px 6px 0 6px;
}
.selected {
  font-weight: bold;
}

nav .selected a {
  color: orangered;
  background-color: white;
  border: 1px solid #00a846;
  border-bottom: 1px solid white;
}
nav .right {
  position: absolute;
  right: 0px;
  background-color: #EFFFEF;
  padding: 4px 6px;
  line-height: 12px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 10px;
  color: gray;
  font-size: 10px;
  z-index: 101;
}
body nav .right a.mailbox {
  font-size: 21px;
  position: relative;
  top: 4px;
  color: gray;
  line-height: 0;
}
nav .right a, nav .right input[type=submit] {
  color: #369;
  text-decoration: none;
}
nav .right form, .comment form, form.link-btn {
  display: inline-block;
  margin: 0;
}
nav .right form input, .comment .buttons li > form input, form.link-btn input {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-size: unset;
  font-family: unset;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
#tagline {
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  background-color: #fffcd4;
  color: #000;
  margin-bottom: 5px;
  padding: 0px 5px;
}
.menu {
  border-bottom: 1px dotted gray;
  padding: 0px 0px 5px 20px;
  color: gray;
  overflow: hidden;
}
.menu a {
  margin: 0px 2.5px;
  color: gray !important;
  font-weight: bold;
}
.commentmenu .selected, .menu .selected {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.warning {
  background-color: #f6e69f;
  border-color: #ffa500;
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px;
  margin: 5px 10px;
  overflow: hidden;
}
.highlight {
  background-color: #ffc;
  padding-left: 5px;
}
form.create {
  width: 520px;
}

form.create div {
  margin: 10px 0px;
  padding: 5px 5px 10px 5px;
  background-color: #cee3f8;
  border-radius: 4px;
}
form.create label {
  display: block;
  font-size: 18px;
  font-weight: 400;
}

form.create div > input, form.create div textarea {
  width: 98%;
}
form.create input[type=checkbox] {
  display: block;
}
form.create input[type=file], form.create select {
  margin-top: 5px;
}

.required::before {
  content: "*";
  color: red;
}
.preferences {
  margin: 20px;
}
.preferences div {
  font-size: 13px;
  margin: 10px;
}
.preferences div:last-child label {
  text-align: left;
  font-size: 10px;
}
.preferences label{
  display: inline-block;
  width: 170px;
  margin-right: 5px;
  text-align: right;

}
.preferences input[type=submit] {
  margin-top:10px;
}
.signup {
  margin: 0px 30px;
}
.signup h1 {
  margin-bottom: 10px;
}
.signup > div {
  float: left;
  margin: 30px;
}
.signup > div:first-child {
  position: absolute;
  top: 316px;
}
.root label, .signup label {
  font-size: 15px;
}
.signup label div {
  margin-bottom: 5px;
}
.root {
  margin: 30px;
}
.root input, .signup input {
  font-size: 15px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.root input[type="text"] {
  width: 300px;
}
.signup input[type=submit] {
  margin-top: 20px;
  display: block;
}
.signup figure {
  margin: 16px 0 4px 0;
}
.signup .question {
  max-width: 500px;
  font-size: 13px;
}
#undarkmode {
  display: none;
}
