<!DOCTYPE html>
  <head>
    <title>{{ if and .Community (ne .Community.CommunityView.Community.Title "")}}{{.Community.CommunityView.Community.Title}}{{else if ne .CommunityName ""}}/c/{{.CommunityName}}{{ else if .User}}overview for {{.User.PersonView.Person.Name}}{{else}}{{ host .Host }}{{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/{{.Host}}/icon.jpg">
    <link rel="stylesheet" href="/_/static/style.css?v={{ .Version }}">
    {{- if or (not .Dark) (is .Dark) }}
    <link rel="stylesheet" href="/_/static/dark.css?v={{ .Version }}" {{ if not .Dark }}media="(prefers-color-scheme:dark)"{{ end }}>
    {{- end }}
  </head>
  <body>
    <noscript>
      <link rel="stylesheet" href="/_/static/noscript.css?v={{ .Version }}">
    </noscript>
    {{ template "nav.html" . -}}
    {{- if and (not .ShowNSFW) .Community .Community.CommunityView.Community.NSFW }}
      {{ template "nsfw.html" }}
    {{- else }}
    <main{{ if .HideSidebar  }} class="wide"{{ end }}>
      {{ template "sidebar.html" . }}
      {{- if and (not .Community) .Tagline }}
      <h3>
        {{ markdown .Host .Tagline }}
      </h3>
      {{- end }}
      {{ template "menu.html" . }}
  {{- if .Error }}
      <div class="error">
        {{.Error}}.
      {{ if .Unknown }}
      try remote instance: <a href="{{ .Unknown }}">{{ .Unknown }}</a>
      {{ end }}
      </div>
  {{ end }}

  {{- range .Posts }}
      {{ template "post.html" . }}
  {{ end }}
  {{- if or (and (not .Op) (not .Activities) (not .Comments) (not .Posts) (not .Communities)) (and (not .Comments) .PostID) (and (not .Activities) (not .Query) .User) }}
      <div class="error">there doesn't seem to be anything here</div>
  {{ end }}

  {{- if or .Query (eq .SearchType "Communities") (eq (len .Posts) 25) (and .Comments (and (eq .CommentCount 200) (gt (index .Posts 0).Counts.Comments .CommentCount))) (and .User (or (gt .User.PersonView.Counts.CommentCount 10) (gt .User.PersonView.Counts.PostCount  10))) }}
      <div class="pager">
        view more: {{if gt .Page 1 }}<a href="{{ .PrevPage }}">‹ prev</a>{{ end }} <a href="{{ .NextPage }}">next ›</a>
      </div>
      <input id="loadmore" type="submit" value="load more" data-page="2">
  {{ end }}

    </main>
{{ end }}
    <script src="/_/static/utils.js?v={{ .Version }}"></script>
  </body>
</html>
