{{ $state := . }}
<nav>
      <div class="communities">
        {{ if .Session }}
        <a id="openmycommunities" href="/{{.Host}}/search?searchtype=Communities&listingType=Subscribed&sort=TopMonth&page=0">my communities ▼</a>
        {{ end }}
        <a href="/{{.Host}}">home</a>
        <span> - </span>
        <a href="/{{.Host}}?listingType=All">all</a>
        |
        {{ $host := .Host }}
        {{ range $i, $c := .TopCommunities}}
        <a href="/{{$host}}/c/{{fullcname $c.Community}}">{{$c.Community.Name}}</a>
        <span> - </span>
        {{ end }}
        <a href="/{{$host}}/search?searchtype=Communities&sort=TopMonth" class="more">more »</a>
      </div>
      <div id="mycommunities">
{{- if and .Session .Session.Communities }}
<a href="/{{.Host}}/search?searchtype=Communities&listingType=Subscribed&sort=TopMonth&page=0">view all »</a>
  {{ range .Session.Communities }}
<a href="/{{ $state.Host}}/{{ if .Community.Local }}c/{{.Community.Name}}{{else}}{{ localize .Community.ActorID }}{{end}}">{{fullcname .Community }}</a>
  {{ end }}
{{ end -}}
      </div>
      <div class="right">
{{ if .Session }}
        <a href="/{{.Host}}/u/{{ .Session.UserName}}">{{ .Session.UserName }}</a>
        |
        <a href="/{{.Host}}/inbox" class="mailbox{{ if .UnreadCount }} orangered{{end}}">✉</a>
        |
        <a id="opensettings" href="/{{.Host}}/settings">settings</a>
        | 
        <form method="POST"><input type="submit" name="op" value="logout"></form>
{{else}}
        <a href="/{{.Host}}/login">log in</a> or <a href="/{{.Host}}/login">sign up</a>
        | 
        <a id="opensettings" href="/{{.Host}}/settings">settings</a>
{{end}}
      </div>
      <div id="settingspopup"></div>
      <div class="spacer">
        <a href="/{{ .Host}}/">
          <img class="icon" src="{{ if and .Site .Site.SiteView.Site.Icon.IsValid }}{{ .Site.SiteView.Site.Icon.String }}{{else}}/{{ .Host}}/icon.jpg{{end}}">
        </a>
      </div>
      {{- if .Community }}
      <a class="title" href="/{{ .Host}}/c/{{fullcname .Community.CommunityView.Community}}">{{fullcname .Community.CommunityView.Community}}</a>
      {{ else if .User }}
      <a class="title" href="/{{ .Host}}/u/{{fullname .User.PersonView.Person}}">{{fullname .User.PersonView.Person}}</a>
      {{ else }}
      <a class="title" href="/{{.Host}}">{{ host .Host}}</a>
      {{- end -}}
      {{- if eq .Op "create_post" "create_community" -}}
      <span>: submit</span>
      {{- else if eq .Op "edit_post" "edit_community" -}}
      <span>: edit</span>
      {{ else }}
      {{- if ne .Query "" -}}
      <span>: search</span>
      {{ end }}
      <ul>
        {{- if eq .Op "block" }}<li class="selected"><a href="/{{ .Host }}/post/{{ (index .Posts 0).Post.ID}}">block</a></li>
        {{ else if and .User (not .Query)}}
        <li {{if eq .Op "" }}class="selected"{{end}}><a href="?">overview</a></li>
          {{ if and .Session (eq .User.PersonView.Person.ID .Session.UserID) }}
          <li {{if eq .Op "Saved"}}class="selected"{{end}}><a href="?view=Saved">saved</a></li>
          {{ end }}
        {{ else if .Comments -}}
        <li class="selected"><a href="">comments</a></li>
        {{ else if and .Activities (not .Query) }}
        <li class="selected"><a href="">mailbox</a></li>
        {{ else }}
        <li{{ if eq .Sort "Hot" }} class="selected"{{end}}><a href="{{ .SortBy "Hot" }}">hot</a></li>
        <li{{ if eq .Sort "Active" }} class="selected"{{end}}><a href="{{ .SortBy "Active" }}">active</a></li>
        <li{{ if eq .Sort "Old" }} class="selected"{{end}}><a href="{{ .SortBy "Old" }}">old</a></li>
        <li{{ if eq .Sort "New" }} class="selected"{{end}}><a href="{{ .SortBy "New" }}">new</a></li>
        <li{{ if eq .Sort "MostComments" }} class="selected"{{end}}><a href="{{ .SortBy "MostComments" }}">most comments</a></li>
        <li{{ if eq .Sort "NewComments" }} class="selected"{{end}}><a href="{{ .SortBy "NewComments" }}">new comments</a></li>
        <li{{ if contains .Sort "Top" }} class="selected"{{end}}><a href="{{ .SortBy "TopDay" }}">top</a></li>
          {{ if .Posts }}
        <li id="showimages"><a id="se" href="">show images</a></li>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
    </nav>
