<!DOCTYPE html>
  <head>
    <title>mlmym</title>
    <link rel="shortcut icon" href="/{{.Host}}/icon.jpg">
    <link rel="stylesheet" href="/_/static/style.css?v=7">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body{{ if .Dark }} class="dark"{{end}}>
    <nav>
      <div class="spacer"></div>
      <span class="title">{{ .Title }}</span>
    </nav>
    <form class="root" method="POST">
      <label>Enter a <a href="https://join-lemmy.org/instances" target="blank_">lemmy</a> domain or url
        <div>
          <input type="text" name="destination" autofocus>
          <input type="submit" value="GO">
        </div>
      </label>
{{ if .Error }}
      <div class="error">{{.Error}}</div>
{{ end }}
    </form>
  </body>
</html>
